{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="main/js/lib/bootstrap.min.js"></script>
    <script src="main/js/lib/bootstrap.js"></script>
    <script src="main/js/lib/util.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>
<body>
<div class="top"><h5>portfolio 2024</h5></div>
    {% block content %}
    {% endblock %}

</body>

<aside>
<!--    <span class="logo">msJordi</span>-->
    <a class="home" href="{% url 'home' %}"><i class="fa-solid fa-shield-cat"></i></a>
    <a class="about" href="{% url 'about' %}"><i class="fa-solid fa-paw"></i></a>
    <a class="loading" href="{% url 'load_img' %}"><i class="fa-solid fa-plus"></i></a>
    <a class="news" href="{% url 'create_new' %}"><button class="btn btn-info"><i class="fa-solid fa-plus fa-2xl"></i></button></a>
<!--        <a class="news" href><button class="fa-solid fa-plus"></button><i class="fas fa-plus-circle"></i></a>-->

<!--    <a class="news" href="{% url 'news' %}"><i class="fa-solid fa-plus"></i></a>-->

</aside>

</html>