{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}

<div class="back">
    <div class="container">
        <h1 class="title">msJordi</h1>
        <p><img class='title_img' src="{% static 'main/img/Jordi_looks_up.jpg' %}" alt="1"></p>
    </div>
</div>

<p class="comment_on_the_main_page"> Landing Page of my cat named Jordi </p>

<div class="gallery" id="gallery">
    <a class="gallery-title" href="#gallery">Photogallery</a>
    <div class="carousel_main_css">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for i in items %}
                    <div class="carousel-item active">
                        <img src="{{ i }}" class="Photogallery_item" alt="...">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}